<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>目录管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
</head>
<body>
<div style="margin:0px; background-color: white; margin:5px 10px;">

    <blockquote class="layui-elem-quote">
        <button class="layui-btn" id="add">添加</button>
        <button class="layui-btn" id="goback">上一页</button>
        <span id="value"></span>
    </blockquote>
</div>

<ul class="flow-default file" id="cataLogData"></ul>


<script src="/static/layui/layui.js"></script>
<script src="/static/js/content/catalog.js"></script>
</body>
</html>