<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
</head>
<body>


<div class="x-body">
    <div class="layui-form layui-form-pane" style="padding: 20px 40px;">

        <div class="layui-form-item">
            <label for="roleName" class="layui-form-label">
                <span class="x-red">*</span>角色名称
            </label>
            <div class="layui-input-block">
                <input type="text" name="roleName" id="roleName" required="" lay-verify="required" autocomplete="off" class="layui-input" />
            </div>
        </div>

        <div class="layui-form-item">
            <label for="roleDes" class="layui-form-label">
                <span class="x-red">*</span>角色描述
            </label>
            <div class="layui-input-block">
                <input type="text" name="roleDes" id="roleDes" required="" lay-verify="required" autocomplete="off" class="layui-input" />
            </div>
        </div>

        <div class="layui-form-item" style="width: 80% ;margin: 0 auto">
            <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
        </div>


    </div>
</div>



<script src="/static/layui/layui.js"></script>
<script src="/static/js/manage/addRole.js"></script>
</body>
</html>